<style> .form-section {
                                                                                                                                                              font-size:14px;
                                                                                                                                                               margin:10px 0;
                                                                                                                                                           }
.form-section p {
    margin:5px 0;
}
.form-section input:not([type='submit']) {
    height:18px;
    padding:2px 4px;
    width:220px;
}
.form-section .custom-error {
    color:#FF0000;
}
[type='submit'] {
    background:#EEEEEE;
    border:1px solid #666666;
    height:26px;
    padding:4px 5px 3px;
    vertical-align:-1px;
    width:50px;
}