<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="sellerInitialized" class="org.shop.SellerInitializer">
        <constructor-arg  ref="sellerNames" />
        <property name="sellerService" ref="sellerService" />
    </bean>

    <bean id="proposalInitializer" class="org.shop.ProposalInitializer" autowire="byName" />

    <bean id="productInitializer" class="org.shop.ProductInitializer">
        <constructor-arg ref="productService" />
    </bean>

    <bean id="sellerNames" class="java.util.HashMap" >
        <constructor-arg index="0">
            <map key-type="java.lang.Long" value-type="java.lang.String">
                <entry key="1" value="org.shop.common.Sellers.AMAZON" />
                <entry key="2" value="org.shop.common.Sellers.SAMSUNG" />
                <entry key="3" value="Apple" />
            </map>
        </constructor-arg>
    </bean>

    <bean id="dataInitializer" class="org.shop.DataInitializer" autowire="byName" init-method="initData">
        <property name="productInitializer" ref="productInitializer" />
        <property name="proposalInitializer" ref="proposalInitializer" />
        <property name="sellerInitializer" ref="sellerInitialized" />
        <property name="userInitializer" ref="userInitializer" />
    </bean>

    <bean id="userInitializer" class="org.shop.UserInitializer">
        <constructor-arg ref="userService" />
    </bean>

</beans>