<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="spring-repository-config.xml" />

    <bean id="itemService" class="org.shop.api.impl.ItemServiceImpl">
         <constructor-arg ref="org.shop.repository.ItemRepository" />
    </bean>

    <bean id="orderService" class="org.shop.api.impl.OrderServiceImpl">
        <property name="itemService" ref="itemService" />
        <property name="orderRepository" ref="org.shop.repository.OrderRepository" />
    </bean>

    <bean id="sellerService" class="org.shop.api.impl.SellerServiceImpl" autowire="byType" />

    <bean id="productService" class="org.shop.api.impl.ProductServiceImpl" autowire="constructor" />

    <bean id="userService" class="org.shop.api.impl.UserServiceImpl" p:repository-ref="org.shop.repository.UserRepository" />

    <bean id="proposalService" class="org.shop.api.impl.ProposalServiceImpl">
        <constructor-arg  name="repository" ref="org.shop.repository.ProposalRepository" />
        <property name="sellerService" ref="sellerService" />
        <property name="productService" ref="productService" />
    </bean>

</beans>